.admin{
    background-color:lightgreen;
    padding-bottom:20px;
}

.admin .forms-container{
    display:flex;
    justify-content:space-around;
}

.admin .title{
    text-align:center;
    color:darkslategray;
    margin:0;
    font-weight:bold;
    padding-top:40px;
    padding-bottom:40px;
}
.admin .form{
    display:flex;
    flex-direction:column;
    gap:15px;
    min-width:400px;
}

.admin label{
    margin-bottom:5px;
}

.admin ul{
    list-style:none;
}
.admin table{
    border-radius:10px;
}
.admin table tr:hover td{
    background:lightgray;
}
@media(max-width:910px){
    .admin .forms-container{
        flex-direction:column;
        margin: 0 30px;
        gap:50px;
    }
    .admin .form{
        min-width:0;
    }
}